appdirs==1.4.4
asgiref==3.4.1
atomicwrites==1.4.0
attrs==21.2.0
auditlog3==1.0.1
beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.4
class-registry==2.1.2
click==7.1.2
colorama==0.4.4
coverage==5.5
defusedxml==0.7.1
dicttoxml==1.7.4
diff-match-patch==20200713
distlib==0.3.1
Django==3.2.5
django-admin-timeline==1.8
django-appconf==1.0.4
django-bootstrap-v5==1.0.5
django-crispy-forms==1.11.2
django-filter==2.4.0
django-import-export==2.5.0
django-import-export-xml==0.1
django-mathfilters==1.0.0
django-model-utils==4.1.1
django-nine==0.2.4
django-timeline-logger==1.1.2
djangorestframework==3.12.4
et-xmlfile==1.0.1
filelock==3.0.12
filters==1.3.2
idna==3.2
importlib-metadata==4.6.3
iniconfig==1.1.1
Markdown==3.3.4
MarkupPy==1.14
mysqlclient==2.0.3
odfpy==1.4.1
openpyxl==3.0.7
packaging==21.0
pep517==0.10.0
Pillow==8.1.2
pip-tools==6.1.0
pluggy==0.13.1
psycopg2==2.8.6
psycopg2-binary==2.8.6
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
pytest-cov==2.12.1
pytest-django==4.4.0
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
regex==2021.7.6
requests==2.26.0
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
tablib==3.0.0
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.6
virtualenv==20.4.2
xlrd==2.0.1
xlwt==1.3.0
zipp==3.5.0
